<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ASMWebAPI.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDir" value=""/>
    <targets>
      <target name="debug" xsi:type="OutputDebugString"
              layout="${time} ${message}"
              />
      <target name="debugFile" xsi:type="File"
              fileName="${logDir}/ASM_Debug.log"
              layout="${time} ${message}"
              archiveFileName="${logDir}/ASM_Debug.{#}.log"
              archiveNumbering="DateAndSequence"
              archiveEvery="Day"
              archiveDateFormat="yyyyMMdd"
              />
      <target name="serverFile" xsi:type="File"
              fileName="${logDir}/ASM_Server.log"
              layout="${time} ${message}"
              archiveFileName="${logDir}/ASM_Server.{#}.log"
              archiveNumbering="DateAndSequence"
              archiveEvery="Day"
              archiveDateFormat="yyyyMMdd"
              />
    </targets>
    <rules>
      <logger name="*" maxlevel="debug" writeTo="debug"/>
      <logger name="*" maxlevel="debug" writeTo="debugFile"/>
      <logger name="ASMWebAPI.Server" minlevel="debug" writeTo="serverFile"/>
    </rules>
  </nlog>
  
  <applicationSettings>
    <ASMWebAPI.Config>
      <setting name="LogsDir" serializeAs="String">
        <value>~/Logs</value>
      </setting>
    </ASMWebAPI.Config>
  </applicationSettings>
  
</configuration>
