*.suo
*.swp
*.user
*.pfx
*~
*.pdb

packages/
ARK Dedicated Server Tool/bin/
ARK Dedicated Server Tool/obj/
ARK Dedicated Server Tool Updater/bin/
ARK Dedicated Server Tool Updater/obj/
ARK Dedicated Server Tool Updater/publish/
Ark Server Manager/bin/
Ark Server Manager/obj/
Ark Server Manager/publish/
ArkData/bin/
ArkData/obj/
NeXtVdf/bin/
NeXtVdf/obj/
Plugin.Common/bin/
Plugin.Common/obj/
Plugin.Discord/bin/
Plugin.Discord/obj/
Plugin.Discord/publish/
Plugin.Discord.UnitTests/bin/
Plugin.Discord.UnitTests/obj/
QueryMaster/bin/
QueryMaster/obj/
SteamKit2/bin/
SteamKit2/obj/
WebAPI/bin/
WebAPI/obj/
WebAPI/publish/
WebAPI/Logs/
WPFSharp.Globalizer/bin/
WPFSharp.Globalizer/obj/
