<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArkServerManager.Plugin.Discord.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArkServerManager.Plugin.Discord.Config>
            <setting name="PluginCallUrlFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="PublicIPCheckUrl" serializeAs="String">
                <value>http://whatismyip.akamai.com/</value>
            </setting>
            <setting name="LatestDownloadUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestVersionUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestBetaDownloadUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestBetaVersionUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="PluginZipFilename" serializeAs="String">
                <value>ArkServerManager.Plugin.Discord.zip</value>
            </setting>
            <setting name="CallHomeDelay" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="RequestTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PluginCode" serializeAs="String">
                <value />
            </setting>
            <setting name="PluginName" serializeAs="String">
                <value>Discord Plugin</value>
            </setting>
        </ArkServerManager.Plugin.Discord.Config>
    </applicationSettings>
</configuration>