<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArkServerManager.Plugin.Discord.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArkServerManager.Plugin.Discord.Config>
            <setting name="PluginsCallUrlFormat" serializeAs="String">
                <value>http://arkservermanager.azurewebsites.net/api/plugin/call/{0}/{1}</value>
            </setting>
            <setting name="PublicIPCheckUrl" serializeAs="String">
                <value>http://whatismyip.akamai.com/</value>
            </setting>
        </ArkServerManager.Plugin.Discord.Config>
    </applicationSettings>
</configuration>