<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARK_Server_Manager.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ARK_Server_Manager.Config>
            <setting name="DefaultVersionCheckUrl" serializeAs="String">
                <value>https://www.dropbox.com/s/a6v1obnqigu2bpu/version.txt?dl=1</value>
            </setting>
            <setting name="DefaultUpdatePackageUrl" serializeAs="String">
                <value>http://hellsguard.site11.com/ARK_Server_Tool/updater.zip</value>
            </setting>
        </ARK_Server_Manager.Config>
    </applicationSettings>
</configuration>