<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARK_Server_Manager.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARK_Server_Manager.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ARK_Server_Manager.Config>
            <setting name="DefaultVersionCheckUrl" serializeAs="String">
                <value>https://www.dropbox.com/s/a6v1obnqigu2bpu/version.txt?dl=1</value>
            </setting>
            <setting name="SteamCmdUrl" serializeAs="String">
                <value>https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip</value>
            </setting>
            <setting name="SteamCmdExe" serializeAs="String">
                <value>SteamCMD.exe</value>
            </setting>
            <setting name="SteamCmdDir" serializeAs="String">
                <value>SteamCMD</value>
            </setting>
            <setting name="SteamCmdZip" serializeAs="String">
                <value>SteamCMD.zip</value>
            </setting>
            <setting name="SteamCmdInstallArgs" serializeAs="String">
                <value>+login anonymous +quit</value>
            </setting>
            <setting name="SteamCmdInstallServerArgsFormat" serializeAs="String">
                <value>+login anonymous +force_install_dir "{0}"  "+app_update 376030 {1}" +quit</value>
            </setting>
            <setting name="ServersInstallDir" serializeAs="String">
                <value>Servers</value>
            </setting>
            <setting name="DefaultServerProfileName" serializeAs="String">
                <value>Unnamed Server</value>
            </setting>
            <setting name="DefaultServerName" serializeAs="String">
                <value>Unnamed Server</value>
            </setting>
            <setting name="ServerBinaryRelativePath" serializeAs="String">
                <value>ShooterGame\Binaries\Win64</value>
            </setting>
            <setting name="ServerConfigRelativePath" serializeAs="String">
                <value>ShooterGame\Saved\Config\WindowsServer</value>
            </setting>
            <setting name="ServerExe" serializeAs="String">
                <value>ShooterGameServer.exe</value>
            </setting>
            <setting name="ServerCommandLineArgsMatchFormat" serializeAs="String">
                <value>?QueryPort={0}</value>
            </setting>
            <setting name="ServerCommandLineStandardArgs" serializeAs="String">
                <value>-nosteamclient -game -server -log</value>
            </setting>
            <setting name="ProfilesDir" serializeAs="String">
                <value>Profiles</value>
            </setting>
            <setting name="ProfileExtension" serializeAs="String">
                <value>.profile</value>
            </setting>
            <setting name="DefaultDataDir" serializeAs="String">
                <value>Ark Server Manager</value>
            </setting>
            <setting name="ServerProcessName" serializeAs="String">
                <value>ShooterGameServer</value>
            </setting>
            <setting name="IniExtension" serializeAs="String">
                <value>.ini</value>
            </setting>
            <setting name="LoadProfileExtensionList" serializeAs="String">
                <value>*.profile,*.ini</value>
            </setting>
            <setting name="PublicIPCheckUrl" serializeAs="String">
                <value>http://whatismyip.akamai.com/</value>
            </setting>
            <setting name="LogsDir" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="BackupThisLoc" serializeAs="String">
                <value>ShooterGame\Saved</value>
            </setting>
            <setting name="DefaultBackupDir" serializeAs="String">
                <value>Server Backups</value>
            </setting>
        </ARK_Server_Manager.Config>
    </applicationSettings>
    <userSettings>
        <ARK_Server_Manager.Config>
            <setting name="ConfigDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultServerMap" serializeAs="String">
                <value>TheIsland</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerGameUserSettingsFile" serializeAs="String">
                <value>GameUserSettings.ini</value>
            </setting>
            <setting name="MachinePublicIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ManageFirewallAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerCommandLineArgsIPMatchFormat" serializeAs="String">
                <value>?MultiHome={0}</value>
            </setting>
            <setting name="AvailableVersionUrl" serializeAs="String">
                <value>http://api.ark.bar/version</value>
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value />
            </setting>
        </ARK_Server_Manager.Config>
    </userSettings>
</configuration>