<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ARK_Server_Manager.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ARK_Server_Manager.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <variable name="logDir" value=""/>
        <targets>            
            <target name="statuswatcher" xsi:type="File"
                    fileName="${logDir}/ASM_ServerStatus.log"
                    layout="${time} ${message}"
                    archiveFileName="${logDir}/ASM_ServerStatus.{#}.log"
                    archiveNumbering="DateAndSequence"
                    archiveEvery="Day"
                    archiveDateFormat="yyyyMMdd"
                    />
            <target name="debugFile" xsi:type="File"
                    fileName="${logDir}/ASM_Debug.log"
                    layout="${time} ${message}"
                    archiveFileName="${logDir}/ASM_Debug.{#}.log"
                    archiveNumbering="DateAndSequence"
                    archiveEvery="Day"
                    archiveDateFormat="yyyyMMdd"
                    />
            <target name="scripts" xsi:type="File"
                    fileName="${logDir}/ASM_Scripts.log"
                    layout="${time} ${message}"
                    archiveFileName="${logDir}/ASM_Scripts.{#}.log"
                    archiveNumbering="DateAndSequence"
                    archiveEvery="Day"
                    archiveDateFormat="yyyyMMdd"
                    />

            <target name="debug" xsi:type="OutputDebugString" layout="${time} ${message}"/>
        </targets>
        <rules>
            <logger name="ARK_Server_Manager.Lib.ServerStatusWatcher" minlevel="debug" writeTo="statuswatcher"/>
            <logger name="ARK_Server_Manager.Lib.ScriptUtils" minlevel="debug" writeTo="scripts"/>
            <logger name="*" maxlevel="debug" writeTo="debug"/>
            <logger name="*" maxlevel="debug" writeTo="debugFile"/>
        </rules>
    </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <ARK_Server_Manager.Config>
            <setting name="SteamCmdUrl" serializeAs="String">
                <value>https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip</value>
            </setting>
            <setting name="SteamCmdExe" serializeAs="String">
                <value>SteamCMD.exe</value>
            </setting>
            <setting name="SteamCmdDir" serializeAs="String">
                <value>SteamCMD</value>
            </setting>
            <setting name="SteamCmdZip" serializeAs="String">
                <value>SteamCMD.zip</value>
            </setting>
            <setting name="SteamCmdInstallArgs" serializeAs="String">
                <value>+login anonymous +quit</value>
            </setting>
            <setting name="SteamCmdInstallServerArgsFormat" serializeAs="String">
                <value>+login anonymous +force_install_dir "{0}"  "+app_update 376030 {1}" +quit</value>
            </setting>
            <setting name="ServersInstallDir" serializeAs="String">
                <value>Servers</value>
            </setting>
            <setting name="DefaultServerProfileName" serializeAs="String">
                <value>Unnamed Profile</value>
            </setting>
            <setting name="DefaultServerName" serializeAs="String">
                <value>Unnamed Server</value>
            </setting>
            <setting name="ServerBinaryRelativePath" serializeAs="String">
                <value>ShooterGame\Binaries\Win64</value>
            </setting>
            <setting name="ServerConfigRelativePath" serializeAs="String">
                <value>ShooterGame\Saved\Config\WindowsServer</value>
            </setting>
            <setting name="ServerExe" serializeAs="String">
                <value>ShooterGameServer.exe</value>
            </setting>
            <setting name="ServerCommandLineArgsMatchFormat" serializeAs="String">
                <value>?QueryPort={0}</value>
            </setting>
            <setting name="ServerCommandLineStandardArgs" serializeAs="String">
                <value>-nosteamclient -game -server -log</value>
            </setting>
            <setting name="ProfilesDir" serializeAs="String">
                <value>Profiles</value>
            </setting>
            <setting name="ProfileExtension" serializeAs="String">
                <value>.profile</value>
            </setting>
            <setting name="DefaultServerMap_TheIsland" serializeAs="String">
                <value>TheIsland</value>
            </setting>
            <setting name="DefaultDataDir" serializeAs="String">
                <value>Ark Server Manager</value>
            </setting>
            <setting name="ServerProcessName" serializeAs="String">
                <value>ShooterGameServer</value>
            </setting>
            <setting name="ServerGameUserSettingsConfigFile" serializeAs="String">
                <value>GameUserSettings.ini</value>
            </setting>
            <setting name="IniExtension" serializeAs="String">
                <value>.ini</value>
            </setting>
            <setting name="LoadProfileExtensionList" serializeAs="String">
                <value>*.profile,*.ini</value>
            </setting>
            <setting name="PublicIPCheckUrl" serializeAs="String">
                <value>http://whatismyip.akamai.com/</value>
            </setting>
            <setting name="LogsDir" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="ServerCommandLineArgsIPMatchFormat" serializeAs="String">
                <value>?MultiHome={0}</value>
            </setting>
            <setting name="LatestASMVersionUrl" serializeAs="String">
                <value>http://arkservermanager.s3.amazonaws.com/release/latest.txt</value>
            </setting>
            <setting name="UpdateCheckTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SteamAPIKey" serializeAs="String">
                <value>97D490F696FA0B36EB7141B458040113</value>
            </setting>
            <setting name="SavedArksRelativePath" serializeAs="String">
                <value>ShooterGame\Saved\SavedArks</value>
            </setting>
            <setting name="HelpUrl" serializeAs="String">
                <value>http://arkservermanager.freeforums.net/thread/1194/faq-frequently-asked</value>
            </setting>
            <setting name="SteamCmdInstallServerArgsFormat_SotF" serializeAs="String">
                <value>+login anonymous +force_install_dir "{0}"  "+app_update 445400 {1}" +quit</value>
            </setting>
            <setting name="ArkSE_PatchNotesUrl" serializeAs="String">
                <value>https://survivetheark.com/index.php?/forums/forum/5-changelog-patch-notes/</value>
            </setting>
            <setting name="ArkSotF_PatchNotesUrl" serializeAs="String">
                <value>https://survivetheark.com/index.php?/forums/forum/9-changelog-patch-notes/</value>
            </setting>
            <setting name="ArkSEUrl" serializeAs="String">
                <value>http://store.steampowered.com/app/346110/</value>
            </setting>
            <setting name="ArkSotfUrl" serializeAs="String">
                <value>http://store.steampowered.com/app/407530/</value>
            </setting>
            <setting name="LastUpdatedTimeFile" serializeAs="String">
                <value>LastUpdatedASM.txt</value>
            </setting>
            <setting name="LauncherFile" serializeAs="String">
                <value>RunServer.cmd</value>
            </setting>
            <setting name="SteamCmdInstallModArgsFormat" serializeAs="String">
                <value>+login {0} +workshop_download_item 346110 {1} +quit</value>
            </setting>
            <setting name="ArkSteamWorkshopFolderRelativePath" serializeAs="String">
                <value>steamapps\workshop\content\346110\</value>
            </setting>
            <setting name="ServerModsRelativePath" serializeAs="String">
                <value>ShooterGame\Content\Mods</value>
            </setting>
            <setting name="DefaultServerMap_TheCenter" serializeAs="String">
                <value>TheCenter</value>
            </setting>
            <setting name="WebAlarmFile" serializeAs="String">
                <value>AlarmPostCredentials.txt</value>
            </setting>
            <setting name="SavedRelativePath" serializeAs="String">
                <value>ShooterGame\Saved</value>
            </setting>
            <setting name="WorkshopCacheFile" serializeAs="String">
                <value>WorkshopCache.xml</value>
            </setting>
            <setting name="SteamCmd_AnonymousUsername" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="SteamCmdAuthenticateArgs" serializeAs="String">
                <value>+login {0} {1} +quit</value>
            </setting>
            <setting name="SteamWorkshopFolderRelativePath" serializeAs="String">
                <value>steamapps\workshop</value>
            </setting>
            <setting name="ArkSteamWorkshopFile" serializeAs="String">
                <value>appworkshop_346110.acf</value>
            </setting>
            <setting name="SteamCmdInstallModArgsFormat_SotF" serializeAs="String">
                <value>+login {0} +workshop_download_item 407530 {1} +quit</value>
            </setting>
            <setting name="ArkSteamWorkshopFile_SotF" serializeAs="String">
                <value>appworkshop_407530.acf</value>
            </setting>
            <setting name="ArkSteamWorkshopFolderRelativePath_SotF" serializeAs="String">
                <value>steamapps\workshop\content\407530\</value>
            </setting>
            <setting name="WorkshopCacheFile_SotF" serializeAs="String">
                <value>WorkshopCacheSotF.xml</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>346110</value>
            </setting>
            <setting name="AppId_SotF" serializeAs="String">
                <value>407530</value>
            </setting>
            <setting name="AppIdServer" serializeAs="String">
                <value>376030</value>
            </setting>
            <setting name="AppIdServer_SotF" serializeAs="String">
                <value>445400</value>
            </setting>
            <setting name="ServerAppIdFile" serializeAs="String">
                <value>steam_appid.txt</value>
            </setting>
            <setting name="DefaultServerMap_ScorchedEarth" serializeAs="String">
                <value>ScorchedEarth_P</value>
            </setting>
            <setting name="ClustersDir" serializeAs="String">
                <value>Clusters</value>
            </setting>
            <setting name="LatestASMBetaVersionUrl" serializeAs="String">
                <value>http://arkservermanager.s3.amazonaws.com/beta/latest.txt</value>
            </setting>
            <setting name="LatestASMBetaDownloadUrl" serializeAs="String">
                <value>http://arkservermanager.s3.amazonaws.com/beta/latest.zip</value>
            </setting>
            <setting name="LatestASMDownloadUrl" serializeAs="String">
                <value>http://arkservermanager.s3.amazonaws.com/release/latest.zip</value>
            </setting>
            <setting name="ArkWhitelistFile" serializeAs="String">
                <value>PlayersJoinNoCheckList.txt</value>
            </setting>
            <setting name="ArkAdminFile" serializeAs="String">
                <value>AllowedCheaterSteamIDs.txt</value>
            </setting>
            <setting name="ArkExclusiveFile" serializeAs="String">
                <value>PlayersExclusiveJoinList.txt</value>
            </setting>
            <setting name="DefaultServerFolderName" serializeAs="String">
                <value>Server</value>
            </setting>
            <setting name="ServerStatusUrlFormat" serializeAs="String">
                <value>http://asmwebapi.azurewebsites.net/api/server/{0}/{1}</value>
            </setting>
            <setting name="DefaultServerMap_PGM" serializeAs="String">
                <value>PGARK</value>
            </setting>
            <setting name="SavedPGMRelativePath" serializeAs="String">
                <value>PGArks</value>
            </setting>
            <setting name="DefaultPGMapName" serializeAs="String">
                <value>AsmPGArk</value>
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value>_Backup</value>
            </setting>
            <setting name="ServerGameConfigFile" serializeAs="String">
                <value>Game.ini</value>
            </setting>
        </ARK_Server_Manager.Config>
    </applicationSettings>
    <userSettings>
        <ARK_Server_Manager.Config>
            <setting name="ConfigDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value />
            </setting>
            <setting name="MachinePublicIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ManageFirewallAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RCON_PlayerListSort" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RCON_PlayerListFilter" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RCON_AdminName" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenRCON_ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenRCON_RCONPort" serializeAs="String">
                <value>32330</value>
            </setting>
            <setting name="CultureName" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="SectionAdministrationIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionAutomaticManagementIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionRulesIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionChatAndNotificationsIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionHUDAndVisualsIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionPlayerSettingsIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionDinoSettingsIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionEnvironmentIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionStructuresIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionEngramsIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionCustomLevelsIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionSOTFIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomLevelXPIncrease_Player" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CustomLevelXPIncrease_Dino" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RunAsAdministratorPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdate_EnableUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdate_UpdatePeriod" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ServerShutdown_GracePeriod" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ServerShutdown_GraceMessage1" serializeAs="String">
                <value>Server shutdown required. Server will shutdown in {minutes} minutes. Please logout before shutdown to prevent character corruption.</value>
            </setting>
            <setting name="ServerShutdown_GraceMessage2" serializeAs="String">
                <value>Server shutdown required. Server will shutdown in 1 minute. Please logout before shutdown to prevent character corruption.</value>
            </setting>
            <setting name="ServerShutdown_GraceMessage3" serializeAs="String">
                <value>Server shutdown required. Server is shutting down now.</value>
            </setting>
            <setting name="ServerShutdown_WorldSaveMessage" serializeAs="String">
                <value>Server shutdown required. Server is about to shutdown, performing a world save.</value>
            </setting>
            <setting name="ServerShutdown_EnableWorldSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdate_CacheDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerUpdate_UpdateModsWhenUpdatingServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerUpdate_ForceUpdateMods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerUpdate_ForceCopyMods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamCmdRedirectOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdate_UseSmartCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StyleName" serializeAs="String">
                <value />
            </setting>
            <setting name="Email_Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Email_Port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Email_UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Email_UseDetaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Email_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Email_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Email_From" serializeAs="String">
                <value />
            </setting>
            <setting name="Email_To" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailNotify_AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailNotify_AutoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamCmd_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamCmd_UseAnonymousCredentials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamCmd_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ValidateProfileOnServerStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionCustomGameUserSettingsIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerUpdate_OnServerStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatestASMPatchNotesUrl" serializeAs="String">
                <value>http://arkservermanager.freeforums.net/thread/3/downloads</value>
            </setting>
            <setting name="LatestASMBetaPatchNotesUrl" serializeAs="String">
                <value>http://arkservermanager.freeforums.net/board/11/beta-testers</value>
            </setting>
            <setting name="SectionServerFilesIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailNotify_ShutdownRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkshopCache_ExpiredHours" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="SectionPGMIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SectionMapSpawnerOverridesIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerShutdown_CancelMessage" serializeAs="String">
                <value>Server shutdown has been cancelled.</value>
            </setting>
        </ARK_Server_Manager.Config>
    </userSettings>
</configuration>
